/* App.css */

.menu {
  background-color: white;
  padding: 20px 0 15px 30px;
}

/* src/components/Sidebar.css */
.sidebar-container {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  align-items: flex-start;
  height: 73vh;
  padding: 20px;
}

.left-sidebar {
  background-color: #e6dddd;
  height: 70vh;
  padding: 20px;
  overflow-y: scroll;
}

.main-content {
  background-color: white;
  height: 70h;
  padding: 20px;
  overflow-y: scroll;
}

.right-sidebar {
  background-color: #c0b9b9;
  height: 70vh;
  color: white;
  padding: 20px;
  overflow-y: scroll;
}
